<template>
    <div>{{count}}&nbsp;<span @click="setLike()" class="canLike" ></span></div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "BeautyLike",
        props:{
            count : Number,
            id: Number,
            canLike : Number
        },
        methods:{
            setLike(){
                this.$store.dispatch('setLike', { type : 'Красота', participant_id : this.id })
                    .then(response => {

                    }).catch(reason => {

                    });
            }
        }
    }
</script>

<style scoped>
    .canLike{
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        height: 35px;
        width: 35px;
        top: 10px;
    }
    .canLike:hover{
        cursor:pointer;
    }

</style>