<template>
    <div>{{count}}&nbsp;<span @click="setLike()" class="canLike" ></span></div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "CongenialityLike",
        props:{
            count : Number,
            id: Number,
            canLike : Number
        },
        methods:{
            setLike(){
                this.$store.dispatch('setLike', { type : 'Конгениальность', participant_id : this.id })
                    .then(response => {

                    }).catch(reason => {

                });
            }
        }
    }
</script>

<style scoped>
    .canLike {
        background-image: url("http://www.clipartbest.com/cliparts/eiM/kR9/eiMkR9KLT.jpeg");
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        height: 35px;
        width: 35px;
        top: 10px;
    }
    .canLike:hover{
        cursor:pointer;
    }
</style>